In [0]:
import pandas as pd
import numpy as np

In [119]:
attackers = pd.read_excel("Forwards.xlsx")
attackers.head()

               Name       Team  assists  ...    xG   xA  who_scored_ratings
0     Mohamed Salah  Liverpool       12  ...  19.3  9.1                7.57
1   Roberto Firmino  Liverpool        8  ...  12.5  5.9                7.20
2        Sadio Mane  Liverpool        3  ...  16.0  4.6                7.43
3  Daniel Sturridge  Liverpool        1  ...   1.2  1.3                6.41
4      Divock Origi  Liverpool        1  ...   2.1  0.2                6.57

[5 rows x 12 columns]

In [0]:

val = attackers["goals_scored"] - attackers["xG"]
attackers["Expected_Goal_Difference"] = val
#xgdiff = attackers.iloc[:, [0,4,9,13]]
val2 = attackers["assists"] - attackers["xA"]
attackers["Expected_Assists_Difference"] = val2
#xadiff = attackers.iloc[:, [0,2,10,14]]

In [0]:
xG = attackers["Expected_Goal_Difference"]
xA = attackers["Expected_Assists_Difference"]

In [0]:
#Player ratings
attackers_rating = (xG * 0.5 + xA*0.5) * 100

In [123]:
attackers["ratings"] = attackers_rating
attackers.head()

               Name       Team  ...  Expected_Assists_Difference  ratings
0     Mohamed Salah  Liverpool  ...                          2.9    280.0
1   Roberto Firmino  Liverpool  ...                          2.1     80.0
2        Sadio Mane  Liverpool  ...                         -1.6    220.0
3  Daniel Sturridge  Liverpool  ...                         -0.3     25.0
4      Divock Origi  Liverpool  ...                          0.8     85.0

[5 rows x 15 columns]

In [124]:
attack_player_ratings = attackers.iloc[:, [0,1,11,14]]
#attack_player_ratings = attackers.iloc[:, [0,1,14]]
attack_player_ratings.sort_values(by="ratings", ascending=False)

                         Name               Team  who_scored_ratings  ratings
15                Eden Hazard            Chelsea                7.81    530.0
6             Raheem Sterling    Manchester City                7.61    520.0
11        Alexandre Lacazette            Arsenal                7.17    515.0
8                  Leroy Sane    Manchester City                7.26    475.0
20              Son Hueng-Min          Tottenham                7.10    460.0
7               Sergio Aguero    Manchester City                7.53    325.0
0               Mohamed Salah          Liverpool                7.57    280.0
25            Anthony Martial  Manchester United                6.90    280.0
5             Xherdan Shaqiri          Liverpool                6.71    280.0
21                 Harry Kane          Tottenham                7.38    255.0
2                  Sadio Mane          Liverpool                7.43    220.0
12  Pierre-Emerick Aubameyang            Arsenal                7.10    215.0
26            Marcus Rashford  Manchester United                6.95    185.0
4                Divock Origi          Liverpool                6.57     85.0
1             Roberto Firmino          Liverpool                7.20     80.0
23             Alexis Sanchez  Manchester United                6.60     70.0
10               Riyad Mahrez    Manchester City                6.96     55.0
22          Fernando Llorente          Tottenham                6.49     45.0
16                      Pedro            Chelsea                6.97     45.0
13              Danny Welbeck            Arsenal                6.39     40.0
3            Daniel Sturridge          Liverpool                6.41     25.0
17             Olivier Giroud            Chelsea                6.43      0.0
19         Callum Hudson-Odoi            Chelsea                6.65    -20.0
18                    Willian            Chelsea                7.06    -45.0
9               Gabriel Jesus    Manchester City                6.64    -65.0
14              Alvaro Morata            Chelsea                6.56    -70.0
24              Romelu Lukaku  Manchester United                6.84    -80.0

In [0]:
d_data = attack_player_ratings.iloc[:, [3]]

In [0]:
scaled = (d_data - np.min(d_data)) / (np.max(d_data) - np.min(d_data)) *10

In [127]:
attack_player_ratings["scaled_rating"] = scaled

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [128]:
attack_player_ratings.sort_values(by="ratings", ascending=False)

                         Name               Team  ...  ratings  scaled_rating
15                Eden Hazard            Chelsea  ...    530.0      10.000000
6             Raheem Sterling    Manchester City  ...    520.0       9.836066
11        Alexandre Lacazette            Arsenal  ...    515.0       9.754098
8                  Leroy Sane    Manchester City  ...    475.0       9.098361
20              Son Hueng-Min          Tottenham  ...    460.0       8.852459
7               Sergio Aguero    Manchester City  ...    325.0       6.639344
0               Mohamed Salah          Liverpool  ...    280.0       5.901639
25            Anthony Martial  Manchester United  ...    280.0       5.901639
5             Xherdan Shaqiri          Liverpool  ...    280.0       5.901639
21                 Harry Kane          Tottenham  ...    255.0       5.491803
2                  Sadio Mane          Liverpool  ...    220.0       4.918033
12  Pierre-Emerick Aubameyang            Arsenal  ...    215.0       4.836066
26            Marcus Rashford  Manchester United  ...    185.0       4.344262
4                Divock Origi          Liverpool  ...     85.0       2.704918
1             Roberto Firmino          Liverpool  ...     80.0       2.622951
23             Alexis Sanchez  Manchester United  ...     70.0       2.459016
10               Riyad Mahrez    Manchester City  ...     55.0       2.213115
22          Fernando Llorente          Tottenham  ...     45.0       2.049180
16                      Pedro            Chelsea  ...     45.0       2.049180
13              Danny Welbeck            Arsenal  ...     40.0       1.967213
3            Daniel Sturridge          Liverpool  ...     25.0       1.721311
17             Olivier Giroud            Chelsea  ...      0.0       1.311475
19         Callum Hudson-Odoi            Chelsea  ...    -20.0       0.983607
18                    Willian            Chelsea  ...    -45.0       0.573770
9               Gabriel Jesus    Manchester City  ...    -65.0       0.245902
14              Alvaro Morata            Chelsea  ...    -70.0       0.163934
24              Romelu Lukaku  Manchester United  ...    -80.0       0.000000

[27 rows x 5 columns]

In [0]:
who = attack_player_ratings.iloc[:, [2]]
who_scored_scaled = (who - np.min(who)) / (np.max(who) - np.min(who))*10

In [130]:
attack_player_ratings["who_scored_scaled_rating"] = who_scored_scaled

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [131]:
attack_player_ratings.sort_values(by="ratings", ascending=False)

                         Name  ... who_scored_scaled_rating
15                Eden Hazard  ...                10.000000
6             Raheem Sterling  ...                 8.591549
11        Alexandre Lacazette  ...                 5.492958
8                  Leroy Sane  ...                 6.126761
20              Son Hueng-Min  ...                 5.000000
7               Sergio Aguero  ...                 8.028169
0               Mohamed Salah  ...                 8.309859
25            Anthony Martial  ...                 3.591549
5             Xherdan Shaqiri  ...                 2.253521
21                 Harry Kane  ...                 6.971831
2                  Sadio Mane  ...                 7.323944
12  Pierre-Emerick Aubameyang  ...                 5.000000
26            Marcus Rashford  ...                 3.943662
4                Divock Origi  ...                 1.267606
1             Roberto Firmino  ...                 5.704225
23             Alexis Sanchez  ...                 1.478873
10               Riyad Mahrez  ...                 4.014085
22          Fernando Llorente  ...                 0.704225
16                      Pedro  ...                 4.084507
13              Danny Welbeck  ...                 0.000000
3            Daniel Sturridge  ...                 0.140845
17             Olivier Giroud  ...                 0.281690
19         Callum Hudson-Odoi  ...                 1.830986
18                    Willian  ...                 4.718310
9               Gabriel Jesus  ...                 1.760563
14              Alvaro Morata  ...                 1.197183
24              Romelu Lukaku  ...                 3.169014

[27 rows x 6 columns]

In [133]:
diff = attack_player_ratings['scaled_rating'] - attack_player_ratings['who_scored_scaled_rating']
attack_player_ratings["difference_of_ratings"] = diff
attack_player_ratings.iloc[:, [0,3,4,5,6]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                         Name  ...  difference_of_ratings
0               Mohamed Salah  ...              -2.408220
1             Roberto Firmino  ...              -3.081275
2                  Sadio Mane  ...              -2.405911
3            Daniel Sturridge  ...               1.580466
4                Divock Origi  ...               1.437312
5             Xherdan Shaqiri  ...               3.648118
6             Raheem Sterling  ...               1.244516
7               Sergio Aguero  ...              -1.388825
8                  Leroy Sane  ...               2.971600
9               Gabriel Jesus  ...              -1.514662
10               Riyad Mahrez  ...              -1.800970
11        Alexandre Lacazette  ...               4.261141
12  Pierre-Emerick Aubameyang  ...              -0.163934
13              Danny Welbeck  ...               1.967213
14              Alvaro Morata  ...              -1.033249
15                Eden Hazard  ...               0.000000
16                      Pedro  ...              -2.035327
17             Olivier Giroud  ...               1.029785
18                    Willian  ...              -4.144539
19         Callum Hudson-Odoi  ...              -0.847379
20              Son Hueng-Min  ...               3.852459
21                 Harry Kane  ...              -1.480028
22          Fernando Llorente  ...               1.344955
23             Alexis Sanchez  ...               0.980143
24              Romelu Lukaku  ...              -3.169014
25            Anthony Martial  ...               2.310090
26            Marcus Rashford  ...               0.400600

[27 rows x 5 columns]

In [134]:
diff.sum()

1.5550681135995523